.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 10px;
  color: #2e4050;
  border-radius: 10px;
}

.InputLabel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px 20px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #2ec4a0, #1a8f78);
}

label {
  color: #2ec4a0;
}

form {
  width: 100%;
}
