.page {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 30px;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
}

.sidebar {
  border: 1px solid #1e2a38;
  width: 90%;
  padding: 30px;
}

.sidebar p {
  color: #4a6070;
}

.emp {
  width: 80%;
}
